/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# New Modules
--------------------------------------------------------------*/
.banner-video {
  background-color: #00586F;
  position: relative;
  padding: 60px 0;
  color: #fff; }
  .banner-video h1 {
    color: #fff;
    margin-top: 0; }
  .banner-video:before {
    content: '';
    background-color: inherit;
    position: absolute;
    height: 100%;
    width: calc(100vw - 8px);
    top: 0;
    left: -21px; }
    @media (min-width: 970px) {
      .banner-video:before {
        left: calc(((-1 * (100vw - 920px) / 2)) + 4px); } }
    @media (min-width: 992px) {
      .banner-video:before {
        width: calc(100vw - 308px);
        left: -46px; } }
    @media (min-width: 1200px) {
      .banner-video:before {
        left: -96px; } }
    @media (min-width: 1420px) {
      .banner-video:before {
        width: calc(100vw - 308px);
        left: calc(((-1 * (100vw - 920px) / 2)) + 154px); } }
  .banner-video .row {
    position: relative;
    -webkit-align-items: center;
            align-items: center; }
  .banner-video .isc_btn {
    margin-top: 20px;
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .banner-video .isc_btn {
        margin-bottom: 0; } }
.isc_btn.lg-cta {
  font-size: 20px;
  line-height: 36px;
  padding-right: 58px; }
  .isc_btn.lg-cta:after {
    position: absolute;
    display: block;
    content: '';
    top: 19px;
    right: 30px;
    transition: all 300ms ease-in-out;
    background-image: url("./assets/images/link-arrow-white.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px; }
  .isc_btn.lg-cta:hover:after, .isc_btn.lg-cta:focus:after {
    right: 20px; }

.banner-secondary {
  background-color: #fbfbfb;
  position: relative;
  padding: 60px 0;
  color: #fff; }
  .banner-secondary:before {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .banner-secondary .h_2 {
    color: #fff;
    margin-top: 0; }
  .banner-secondary__background {
    position: relative;
    content: '';
    display: block;
    background-size: cover;
    background-position: 0% center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: calc(100vw - 8px);
    top: 0;
    left: -21px; }
    @media (min-width: 970px) {
      .banner-secondary__background {
        left: calc(((-1 * (100vw - 920px) / 2)) + 4px); } }
    @media (min-width: 992px) {
      .banner-secondary__background {
        width: calc(100vw - 308px);
        left: -46px; } }
    @media (min-width: 1200px) {
      .banner-secondary__background {
        left: -96px; } }
    @media (min-width: 1420px) {
      .banner-secondary__background {
        width: calc(100vw - 448px);
        left: calc(((-1 * (100vw - 920px) / 2)) + 224px); } }
  .banner-secondary__text {
    position: relative; }
    .banner-secondary__text .isc_btn {
      margin-top: 10px; }

.select-language-row {
  position: relative;
  background-color: #fbfbfb;
  padding: 90px 0; }
  .select-language-row:before {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .select-language-row__title {
    position: relative;
    margin-bottom: 60px;
    text-align: center; }
  .select-language-row__languages {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px; }
    @media (min-width: 768px) {
      .select-language-row__languages {
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
  .select-language-row__language {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    padding: 0 10px;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      .select-language-row__language {
        -webkit-flex-basis: 20%;
                flex-basis: 20%; } }
    .select-language-row__language__link {
      display: block;
      height: calc(100% - 30px);
      border: 5px solid #EFF0F1;
      text-decoration: none;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
      transition: all 200ms ease-in-out; }
      .select-language-row__language__link:hover, .select-language-row__language__link:focus {
        border: 5px solid #00B2AA; }
        .select-language-row__language__link:hover .isc_link:after, .select-language-row__language__link:focus .isc_link:after {
          -webkit-transform: translateX(4px);
                  transform: translateX(4px); }
    .select-language-row__language__name {
      display: block;
      margin-bottom: 20px;
      white-space: nowrap; }
    .select-language-row__language__image {
      display: block;
      margin-top: 30px;
      margin-bottom: 20px; }
      .select-language-row__language__image img {
        display: block;
        height: 75px;
        margin: 0 auto; }

/*--------------------------------------------------------------
# Overrides
--------------------------------------------------------------*/
.ab-styles .navbar__nav__title {
  font-family: "Gotham A", "Gotham B";
  font-weight: 700;
  font-size: 20px;
  padding: 15px 25px;
  margin-bottom: 8px; }
  @media (min-width: 992px) {
    .ab-styles .navbar__nav__title {
      padding: 12px 50px; } }
.ab-styles .navbar__nav .primary-menu .menu-item {
  font-weight: 300; }
  .ab-styles .navbar__nav .primary-menu .menu-item.menu-item-has-children .plus .horizontal {
    width: 12px;
    height: 2px;
    margin-left: -6px; }
  .ab-styles .navbar__nav .primary-menu .menu-item.menu-item-has-children .plus .vertical {
    width: 2px;
    height: 12px;
    margin-top: -6px; }

.ab-styles .featured-items,
.ab-styles .footer-flex-content {
  position: relative; }
  .ab-styles .featured-items:before,
  .ab-styles .footer-flex-content:before {
    content: '';
    position: absolute;
    background-color: #fbfbfb;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .ab-styles .featured-items .row,
  .ab-styles .footer-flex-content .row {
    position: relative; }
