.ab-styles {
	.featured-items,
	.footer-flex-content {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			background-color: $isc_offwhite;
			width: 100vw;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.row {
			position: relative;
		}
	}
}