%isc_btn, .isc_btn {
	position: relative;
	@extend %gotham_bold;
	background: $isc_green;
	border: 2px solid $white;
	box-shadow: 0 2px 2px 0 rgba($black, .10);
	font-size: 16px;
	color: $white;
	letter-spacing: -0.44px;
	text-align: center;
	line-height: 32px;
    display: inline-block;
	text-decoration: none;
	padding: 10px 28px;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
	&.js-modalTrigger {
		img {
			vertical-align: middle;
			margin: 0 10px 0 0;
			height: 24px;
			width: 24px;
		}
	}
	&:visited,
	&:active,
	&:link {
		color: $white;
	}
	&:hover,
	&:focus {
		background-color: $isc_green_dark;
	}
}

%isc_link, .isc_link {
	position: relative;
	text-decoration: none;
	@extend %gotham_bold;
	font-size: 16px;
	letter-spacing: -0.18px;
	line-height: 26px;
	color: $isc_green;
	vertical-align: middle;
	&:after {
		margin-left: 8px;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "FontAwesome";
		content: "\f105";
		transition: all 300ms ease-in-out;
	}
	&:visited,
	&:active,
	&:link {
		color: $isc_green;
	}
	&:hover,
	&:focus {
		&:after {
			transform: translateX(4px);
		}
	}
}