/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

// COLORS

$isc_blue_dark: #222533;
$isc_blue: #333695;
$isc_green: #00B2AA;
$isc_green_dark: #00586F;
$isc_gray_2: #EFF0F1;
$isc_gray: #86939E;
$isc_gray_light: #D8D8D8;
$isc_gray_light_2: #F8F9F9;
$isc_offwhite: #fbfbfb;
$isc_maroon: #A75348;
$isc_purple: #2F2A96;
$isc_purple_light: #EAE9F4;

// $isc_bluelight: #bfe4e3;
// $isc_greenlight: #bfe4e3;
// $isc_yellow: #fffae5;
// $isc_yellowdarker: #ffe680;
// $isc_graylightest: #f2f2f2;
// $isc_graylighter: #e0e0e0;
// $isc_graylight: #cbcbcb;
// $isc_gray: #919191;
// $isc_graydark: #646464;
// $isc_graydarker: #363636;
// $isc_graydarkest: #2b2b2b;

$white: #fff;
$black: #000;