.related-resources {
	&__title {
		@extend %h_2;
		margin-bottom: 30px;
	}

	&__resource {
		display: block;
		border: 5px solid $isc_gray_2;
		text-decoration: none;
		margin-bottom: 18px;
	    max-width: 600px;
	    padding: 20px 120px 20px 25px;
	    position: relative;
	    transition: all 200ms ease-in-out;
		&:after {
			position: absolute;
			display: block;
			top: calc(50% - 15px);
			right: 30px;
			font-size: 20px;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-family: "FontAwesome";
			content: "\f35d";
			transition: all 200ms ease-in-out;
			-webkit-text-stroke: 1px $white;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&:focus {
			border: 5px solid $isc_green;
			.related-resources__resource__title {
				color: $isc_green;
			}
			&:after {
				color: $isc_green;
			}
		}
		&__title {
			@extend %h_5;
			transition: all 200ms ease-in-out;
			+ .related-resources__resource__text {
				margin-top: 6px;
			}
		}
		&__text {
			@extend %p_sm;
		}
	}
}