.related-links {
	&__title {
		@extend %h_2;
		margin-bottom: 30px;
	}
	
	&__link {
		display: block;
		border: 5px solid $isc_gray_2;
		text-decoration: none;
		margin-bottom: 18px;
	    max-width: 600px;
	    padding: 20px 120px 20px 35px;
	    position: relative;
	    transition: all 200ms ease-in-out;
	    &:before {
	    	content: '';
	    	position: absolute;
	    	background: $isc_green;
	    	display: block;
	    	width: 5px;
	    	height: calc(100% + 10px);
	    	top: -5px;
	    	left: -5px;
	    }
		&:after {
			position: absolute;
			content: '';
			top: calc(50% - 8px);
			right: 30px;
			transition: all 200ms ease-in-out;
			background-image: url('./assets/images/link-arrow-black.svg');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&:focus {
			border: 5px solid $isc_green;
			.related-links__link__title {
				color: $isc_green;
			}
			&:after {
				background-image: url('./assets/images/link-arrow.svg');
			}
		}
		&__title {
			@extend %h_5;
			transition: all 200ms ease-in-out;
			+ .related-links__link__text {
				margin-top: 6px;
			}
		}
		&__text {
			@extend %p_sm;
			margin-bottom: 16px;
		}
	}
}