.related-resources {
	&__title {
		@extend %h_2;
		margin-bottom: 30px;
	}

	&__resource {
		display: block;
		border: 5px solid $isc_gray_2;
		text-decoration: none;
		margin-bottom: 18px;
	    max-width: 600px;
	    padding: 20px 120px 20px 25px;
	    position: relative;
	    transition: all 200ms ease-in-out;
		&:after {
			position: absolute;
			content: '';
			top: calc(50% - 8px);
			right: 30px;
			transition: all 200ms ease-in-out;
			background-image: url('./assets/images/link-external-black.svg');
			background-repeat: no-repeat;
			background-size: 18px 18px;
			width: 18px;
			height: 18px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&:focus {
			border: 5px solid $isc_green;
			.related-resources__resource__title {
				color: $isc_green;
			}
			&:after {
				background-image: url('./assets/images/link-external.svg');
			}
		}
		&__title {
			@extend %h_5;
			transition: all 200ms ease-in-out;
			+ .related-resources__resource__text {
				margin-top: 6px;
			}
		}
		&__text {
			@extend %p_sm;
		}
	}
}