.select-language-row {
	position: relative;
	background-color: $isc_offwhite;
	padding: 90px 0;
	&:before {
		content: '';
		position: absolute;
		background-color: inherit;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__title {
		position: relative;
		margin-bottom: 60px;
		text-align: center;
	}

	&__languages {
		position: relative;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -10px;
		@media (min-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&__language {
		flex-basis: 50%;
		padding: 0 10px;
	    box-sizing: border-box;
		@media (min-width: 768px) {
			flex-basis: 20%;
		}

		&__link {
			display: block;
			height: calc(100% - 30px);
			border: 5px solid $isc_gray_2;
			text-decoration: none;
			margin-bottom: 20px;
			text-align: center;
			position: relative;
			transition: all 200ms ease-in-out;
			&:hover,
			&:focus {
				border: 5px solid $isc_green;
				.isc_link {
					&:after {
						transform: translateX(4px);
					}
				}
			}
		}
		&__name {
			display: block;
			margin-bottom: 20px;
			white-space: nowrap;
		}
		&__image {
			display: block;
			margin-top: 30px;
			margin-bottom: 20px;
			img {
				display: block;
				height: 75px;
				margin: 0 auto;
			}
		}
	}
}