.select-language {
	&__title {
		@extend %h_2;
		margin-bottom: 30px;
	}

	&__language {
		display: flex;
		align-items: center;
		border: 5px solid $isc_gray_2;
		text-decoration: none;
		margin-bottom: 18px;
	    max-width: 600px;
	    padding: 16px 120px 16px 35px;
	    position: relative;
	    transition: all 200ms ease-in-out;
		&:after {
			position: absolute;
			display: block;
			top: calc(50% - 15px);
			right: 30px;
			font-size: 30px;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-family: "FontAwesome";
			content: "\f105";
			transition: all 200ms ease-in-out;
			-webkit-text-stroke: 2px $white;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&:focus {
			border: 5px solid $isc_green;
			&:after {
				color: $isc_green;
			}
		}
		&__name {
			@extend %h_5;
		}
		&__image {
			flex-basis: 75px;
			img {
				display: block;
				height: 50px;
				margin: 0 auto;
				padding-right: 25px;
			}
		}
	}
}