.select-language {
	&__title {
		@extend %h_2;
		margin-bottom: 30px;
	}

	&__language {
		display: flex;
		align-items: center;
		border: 5px solid $isc_gray_2;
		text-decoration: none;
		margin-bottom: 18px;
	    max-width: 600px;
	    padding: 16px 120px 16px 35px;
	    position: relative;
	    transition: all 200ms ease-in-out;
		&:after {
			position: absolute;
			content: '';
			top: calc(50% - 8px);
			right: 30px;
			transition: all 200ms ease-in-out;
			background-image: url('./assets/images/link-arrow-black.svg');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&:focus {
			border: 5px solid $isc_green;
			&:after {
				background-image: url('./assets/images/link-arrow.svg');
			}
		}
		&__name {
			@extend %h_5;
		}
		&__image {
			flex-basis: 75px;
			img {
				display: block;
				height: 50px;
				margin: 0 auto;
				padding-right: 25px;
			}
		}
	}
}